* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 24px;
}

.testimonials-grid {
    display: grid;
    gap: 24px;
    max-width: 1110px;
    width: 100%;
}

.card {
    border-radius: 8px;
    padding: 26px 32px 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-purple {
    background: hsl(263, 55%, 52%) url('./images/bg-pattern-quotation.svg') no-repeat top right 80px;
  color: white;
}

.card-grey {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.card-white {
    background-color: white;
    color: hsl(219, 29%, 14%);
}

.card-dark {
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 18px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.card-white .avatar {
    border-color: hsl(263), 55%, 52%);
}

.name {
    font-size: 13px;
    font-weight: 500;
}

.verified {
    font-size: 11px;
    opacity: 0.5;
    margin-top: 4px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}

.card-quote {
    opacity: 0.7;
    line-height: 1.4;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .testimonials-grid {
        grid-template-columns: repeat(2, 1fr);
  }
  .card:first-child,
  .card-kira {
        grid-column: 1 / 3;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 164px 24px;
  }
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .card:first-child {
    grid-column: 1 / 3;
  }
  .card:nth-child(4) {
    grid-column: 2 / 4;
  }
  .card-kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

